<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regex application</title>
</head>
<body>

    <center>
    <h1 style="color: crimson;">Match your string</h1>
    <form action="{{url_for('matches_func')}}" method='post'>
        <input type="text" size = "150" name="text_string" placeholder="Enter your string">
        <br>
        <br>
        <input type="text" size = "150" name="regex" placeholder="Enter the regex">
        <br>
        <br>
        <input type="submit" style="color: blue;" value="Search">
    </form>

    </center>
</body>
</html> 